{% extends 'base.html' %}

{% block style %}
<style>
    form { width: 500px; margin: 100px auto; }
    form div { margin-bottom: 5px; }
    form label { font-weight: bold; width: 110px; text-align: right; }
    form button:first-child { margin-left: 135px; }
</style>
{% endblock %}

{% block main %}
<main>
    <div id="align">
        <h2>회원가입이 완료되었습니다.</h2>
        <h2>로그인 하러가기</h2>
                <div class="col-auto">
                    <button type="button" class="btn btn-primary" id="loginbtn">
                        <i class="bi bi-check-circle"></i> 로그인</button>
                </div>
    </div>
</main>
{% endblock %}

{% block script %}
<script>
    let loginbtn = document.querySelector('#loginbtn');
    loginbtn.addEventListener('click', () => {
       location.href = 'http://127.0.0.1:8000/login';

    });

</script>

{% endblock %}