{% extends 'base.html' %}

{% block style %}
<style>
    table { table-layout: fixed }

    th { text-align: center }
    td:nth-child(3) { text-align: center }
    td:nth-child(4) { text-align: center }
    td:nth-child(5) { text-align: center }

    /*!* 검색, 글쓰기 버튼이 있는 행 *!*/
    tr:first-child td { border: none; padding: 10px 0 }
    tr:first-child td:last-child { text-align: center }

    /* 제목열에 대한 스타일 지정 */
    td:nth-child(2) { text-align: left; white-space: nowrap; overflow: hidden; text-overflow: ellipsis }
    /* 페이지네이션pagenation 스타일 */
    .pagination a:link { color: #bce55c !important;}
</style>
{% endblock %}

{% block main %}
<main>
    <h2>게시판 목록</h2>
    <table class="table table-bordered table-hover container mt-5 w-80" >
        <colgroup> <!-- table-layout: fixed 속성의 설정된 경우, 각 컬럼에 대한 스타일을 지정 -->
            <col style="width: 5%">
            <col style="">
            <col style="width: 15%">
            <col style="width: 10%">
            <col style="width: 10%">
        </colgroup>

        <thead class="table-dark">
        <tr><th scope="col">번호</th><th scope="col">제목</th><th scope="col">작성자</th><th scope="col">작성일</th><th scope="col">조회수</th></tr>
        </thead>
        {% for bd in bdlist %}
        <tr><th scope="row">{{ bd.bno }}</th>
            <td><a href="/board/view/{{ bd.bno }}">{{ bd.title }}</a></td>
            <td>{{ bd.userid }}</td>
            <td>{{ bd.regdate.strftime('%Y-%m-%d') }}</td>
            <td>{{ bd.views }}</td>
        </tr>
        {% endfor %}

    </table>
    <div class="offset-10">
        <button type="button" class="btn btn-primary btn-sm">
            <a href="/board/write">
                <i class="bi bi-pencil-square"></i> 글쓰기</a></button></div>
    <ul class="pagination justify-content-center m-3">
        <!--{# 현재페이지가 1이라면 이전버튼 비활성 #}-->
        {% if cpg == 1 %}<li class="page-item disabled">
        {% else %}<li class="page-item">{% endif %}
            <a class="page-link" href="/board/list/{{ cpg - 1 }}">이전</a></li>

        {% for idx in range(stpg, stpg + 9 + 1) %}
            {% if idx <= allpage %}  <!--{# idx가 allpage보다 같거나 작으면 페이지네이션 출력 #}-->
                {% if cpg == idx %}<li class="page-item active">
                {% else %}<li class="page-item">{% endif %}
                <a class="page-link" href="/board/list/{{ idx }}">{{ idx }}</a></li>
            {% endif %}
        {% endfor %}

        <!--{# 현재페이지가 마지막페이지라면 다음버튼 비활성 #}-->
        {% if cpg == allpage %}<li class="page-item disabled">
        {% else %}<li class="page-item">{% endif %}
            <a class="page-link" href="/board/list/{{ cpg + 1 }}">다음</a></li>
    </ul>


    <tr><td colspan="2" class="searchbox">
        <div class="row">
            <div class="col-auto"><select class="rom-select">
                <option>제목</option>
                <option>본문</option>
                <option>작성자</option>
                <option>제목+본문</option>
                <option>댓글내용</option>
            </select></div>
        </div>
        <div class="col-auto">
            <input type="text" name="search" id="search" class="form-control"></div>
        <div class="col-auto>">
            <button type="button">검색하기</button></div>
    </td>
        <td colspan="3"><a href="/board/write" class="btn btn-dark text-white">글쓰기</a></td>
    </tr>

    <div class="col-3 form-floating"> <!--offset-4 col-6-->
        <select>
            <option>제목</option>
            <option>본문</option>
            <option>작성자</option>
            <option>제목+본문</option>
            <option>댓글내용</option>
        </select>
        <label for="search" class="form-label">검색 키워드</label>
        <input type="text" class="form-control" name="search" id="search2" placeholder="name@example.com">
        <button type="button" class="btn btn-secondary btn-sm">
            <i class="bi bi-search"></i> 검색하기</button>
    </div>
</main>
{% endblock %}
