<footer>
    <div class="inner">
        <div class="footer_top">
            <div class="footer_logo">
                <a href="#">
                    <h1>et cetera</h1></a>
            </div>
        </div>
        <div class="footerline"></div>
        <div class="footer_bottom">
            <div class="left">
                <div class="link">
                    <ul class="link_list">
                        <li><a href="#">고객센터</a></li>
                        <li><a href="#">개인정보처리방침</a></li>
                        <li><a href="#">이용약관</a></li>
                    </ul>
                </div>
                <div class="info">
                    <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;상호명 &colon; et cetera </span>
                    <span>대표명 &colon; et cetera </span>
                    <br>
                    <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;주소 &colon; 서울특별시 관악구 남부순환로 1820 에그엘로우 6층 6A  </span>
                    <br>
                    <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;사업자등록번호 &colon; 1234 &#x2D; 5678 </span>
                    <span>통신판매업신고번호 &colon; 12345 &#x2D; 67890 </span>
                    <div>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;copyright &copy; 2024. etcetera. All rights reserved.</div>
                </div>
            </div>
            <div class="right">
                <div class="help">
                    <p>HELP DESK</p>
                    <p>010 &#x2D; 7577 &#x2D; 8029</p>
                    <p>평일 AM 9&colon;00 &#x7E; PM 6&colon;10</p>
                    <p>점심 PM 1&colon;20 &#x7E; PM 2&colon;10</p>
                    <p>휴무 연중무휴</p>
                </div>
                <div class="as">
                    <p>A&sol;S</p>
                    <p>A&sol;S 실시간 문의 연락처</p>
                    <p>P.N : 031-000-0000</p>
                    <p>KakaoTalk Channel : et cetera </p>
                </div>
            </div>
        </div>
    </div>
</footer>