<header>
    <div class="top">
        <div  class="inner">
            <div class="logo_contain">
                <a class="logo" href="http://127.0.0.1:8000/">
                    <h1>et cetera</h1>
                </a>
            </div>
            <div class="main_title">
                <div class="inner_submenu_right"><a href="#">Log in</a> or <a href="#">SIGN-UP</a></div>
            </div>
        </div>
    </div>
    <div class="center">
        <ul>
            <li>
                <a href="http://www.naver.com">TEST조주현</a>
            </li>
            <li>
                <a href="http://www.naver.com">TEST권예을</a>
            </li>
            <li>
                <a href="join">TEST장원태</a>
            </li>
            <li>
                <a href="http://www.naver.com">TEST권나영</a>
            </li>
            <li>
                <a href="http://www.naver.com">Community</a>
            </li>
            <li>
                <a href="http://www.naver.com">Q&A</a>
            </li>
        </ul>
    </div>
    <div class="right">
        <ul>
            <li>
                <div class="search">
                    <a href="http://www.naver.com">
                                    <span class="material-symbols-outlined">search
                                    </span>
                    </a>
                </div>
            </li>
            <li>
                <a href="http://www.naver.com">
                                <span class="material-symbols-outlined">shopping_cart
                                </span>
                </a>
            </li>
            <li>
                <a href="http://www.naver.com">
                                <span class="material-symbols-outlined">person
                                </span>
                </a>
            </li>
        </ul>
    </div>
    <div class="clearfix"></div>
</header>